*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../IMG/10.jpg);
    background-attachment: fixed;
}
main{
    justify-content: center;
    padding:10vh;
}
#Botones{
    display: flex;
    flex-direction: row;
    gap: 4vh;
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5VH;
}

.TextoGanaste{
    color:#ffb640;
    font-family: 'Open Sans', sans-serif;
    font-size:5vh;
    font-weight: bold;
}
.TextoPuntaje{
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 8vh;
    font-weight: bold;
}
.Botones{
    height: 125px;
    padding: 5px;
}
main button{
    background-color: #ff9e00;
    border-color: #ff9e00;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    padding: 30px 50px 30px 50px;
    border-radius: 10%;
}
a{
    color: inherit;
    text-decoration: none;
}