
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-image: url(../IMG/10.jpg);
}



#portada{
    width: 270px;
    height: 470px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.2);
}

.pixel{
    position: absolute;
    width: 270px;
    height: 470px;
    background-image: url(../IMG/pixel.jpg);
    background-size: contain;
    background-repeat:repeat-y;
    opacity: 0.5;
    image-rendering: pixelated;
    transform: scale(1.2);
}




.contSup{
    display: flex;
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contSup > .left{
    width:50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contSup > .right{
    width:50%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

cont


#temp{
    transform-origin: left;
    width: 30vw;
    height: 1.5vh;
    background-color: var(--color1);
    transform: scaleX(0);
    border-radius: 28px;

}

.contTemp{
    background-color: var(--color5);
    width: auto;
    height: auto;
    border: solid 1vh var(--color5);
}

.contInf{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content:space-around ;
    width: 100vw;
    height: 10vh;
}

@keyframes crecer{
    to{
        transform: scaleX(1);
    }
}

#animScreen{
    visibility: collapse;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    left: 0%;
    display: flex;
}

#animScreen.entrada-fondo{
    animation:cambioFondo-Entrar 0.5s ease-out backwards ;
}
#animScreen.salida-fondo{
    animation:cambioFondo-Salir 0.5s ease-out forwards ;
}

#logoAnim {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(-100%, -50%) scale(0.1) rotate(0deg);
}

#logoAnim.entrada-logoAnim {
    animation: entradaLogo 3s ease-out forwards;
}

#logoAnim.salida-logoAnim {
    animation: salidaLogo 1.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 2s both;
}


@keyframes cambioFondo-Entrar{
    0%{width: 0;}
    100%{width: 100vw;}
}

@keyframes cambioFondo-Salir{
    0%{width: 100vw;}
    100%{width: 0vw;}
}


@keyframes entradaLogo {
  0% {
    left: 0%;
    transform: translate(-100%, -50%) scale(0.1) rotate(0deg);
  }
  40% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5) rotate(180deg);
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.0) rotate(720deg);
  }
}

@keyframes salidaLogo {
  0% {
    left: 50%;
    transform: translate(-50%, -50%) scale(1.0) rotate(720deg);
    opacity: 1;
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(1440deg);
    opacity: 0;
  }
}


@keyframes popcorn{
    0%{transform: translateX(0); transform: translateY(0);}
}

@keyframes navCollaps{
    0%{}
}

#Contador-SalirPartida{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
}
#btnsiguiente{
    margin: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    border: none;
}
