
:root{
    --color1:#ef3920;
    --color2:#ff9e00;
    --color3:#ffb640;
    --color4:#fbecc4;
    --color5:#FFFFFF;
    --color6:#121213;
    --correcto:#22C55E;
    --incorrecto:#ef3920;

}

nav {
    z-index: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
}

.contenedorGen-nav{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.contenedorGen-nav > .circle {
    z-index: 2;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background-color: var(--color5);
    padding: 0.5vh;
} 

.color1 > .circle2 {
    z-index: 2;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: var(--color5);
    padding: 0.5vh;
    transition: 0.3s linear;
}

.btnSkip{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: collapse;
}
.btnSkip > span{
    font-size: 4vh;
    color: var(--color1);
}


.color1 > .circle2:hover{
    transform: scale(1.1);
}


.contenedorGen-nav > .title-cont{
    align-items: center;
    background-color: var(--color5);
    height: 50%;
    font-size: 4vh;
    padding:  1vh 5vw ;
    position: relative;
    left: -3vw;
    z-index: 1;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    color:var(--color1);
    font-weight: bold;
}

.contenedorGen-nav > .title-cont > span{
    color: var(--color2);
}

.circle > img{
    height: 8vh;
    width: auto;
    box-sizing: content-box;
}

.color1{background-color: var(--color1);width: 50%;height: 100%; display: flex; align-items: center; box-sizing: content-box; gap: 0; justify-content: start;}
.color2{background-color: var(--color2);width: 25%;height: 100%;}
.color3{background-color: var(--color3);width: 20%;height: 100%;}
.color4{background-color: var(--color4);width: 5%;height: 100%;}

