.Screen{
    visibility: collapse;
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    z-index: 9999;
    background-color: rgb(0 0 0 / 90%); 
    backdrop-filter: blur(10px);
    padding: 9vh;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.Screen h2{
    font-size: 5vh;
    font-weight: bold;
}
.Screen p{
    font-size: 2.5vh;
}
.Screen img{
    height: 15vh;
}
.Screen #Flecha{
    height: 10vh;
}
.Screen div{
    display: flex;
    flex-direction: row;
}

.mostrarTuto{
   
    visibility: visible;
    animation: aparecerTutorial 0.5s ease-in;
}
.ocultarTuto{
    animation: ocultarTutorial 0.5s ease-in;
    visibility: visible;

}

@keyframes aparecerTutorial{
    from{
        transform: scale(0) ;
    }
    
    to{
        transform: scale(1) translate(-50%);
    }
}

@keyframes ocultarTutorial{
    from{
        transform: scale(1) translate(-50%);
    }
    
    to{
        transform: scale(0) ;
    }
}


