*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav{
    background-color: #050401;
    padding: 10px;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}
#Logo{
    height: 10vh;
}
#Nombre{
    color: white;
    font-size: 2.5em;
    font-family: 'Arial', sans-serif;
}


#portada{
    width: 270px;
    height: 470px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contSup{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pixel{
    position: absolute;
    width: 270px;
    height: 470px;
    background-image: url(../IMG/pixel.jpg);
    background-size: contain;
    background-repeat:repeat-y;
    opacity: 0.5;
    image-rendering: pixelated;
}
.Pistas{
    display: flex;
    flex-direction: column; 
    gap: 10px;
    padding: 25px;
    margin:25px;
}
.Pista{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ff7745;
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
}

#temp{
    transform-origin: left;
    width: 30vw;
    height: 1.5vh;
    background-color: #050401;
    transform: scaleX(0);
}


.contInf{
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content:space-around ;
    width: 100vw;
    height: 10vh;
}

@keyframes crecer{
    to{
        transform: scaleX(1);
    }
}
